div#paddle {
    background-color: silver;
    width: 14vw;
    height: 2vh;
    top: 90vh;
    left: 56vw;
    position: absolute;
}
div#ball {
    background-color: black;
    width: 20px;
    height: 20px;
    top: 21vh;
    left: 90vw;
    position: absolute;
}
div#bricks-container {
    width: 60vw;
    height: 35vh;
    top: 15vh;
    left: 20vw;
    position: absolute;
}
div.brick {
    border: 1px solid white;
    position: absolute;
}
div#button-container{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
div#button-container button{
    font-size: 50px;
}