div#paddle {
    background-color: silver;
    width: 14vw;
    height: 2vh;
    top: 90vh;
    left: 56vw;
    position: absolute;
}
div#ball {
    background-color: black;
    width: 20px;
    height: 20px;
    position: absolute;
}
div#bricks-container {
    width: 60vw;
    height: 35vh;
    top: 15vh;
    left: 20vw;
    position: absolute;
}
div.brick {
    border: 1px solid white;
    position: absolute;
}
div#button-container {
    background-color: beige;
    width: 40vw;
    height: 30vh;
    top: 35vh;
    left: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    border: 10px blue solid;
    border-radius: 20px;
}
div#button-container button {
    font-size: 50px;
    margin-top: 20px;
}
p.instructions {
    color: black;
    font-size: x-large;
    margin: 12;
    font-weight: 700;
}
